resolver_tests_common_zone_name: test.google.fr.
# The fallback server is missing. Client should
# reach the balancer and then the referred-to backend.
resolver_component_tests:
- records:
    _grpclb._tcp.server:
    - {TTL: '2100', data: 0 0 %(grpclb_port)d balancer, type: SRV}
    balancer:
    - {TTL: '2100', data: 127.0.0.1, type: A}
